<launch>
  <arg name="port" default="/dev/ttyACM0"/>
  <arg baud="baud" default="1000000"/>
  <node pkg="rosserial_python" type="serial_node.py" name="rosserial_imu_client" args="$(arg port)">
    <param name="baud" value="$(arg baud)"/>
  </node>
  <include file="$(find camera_imu_sync_apm)/launch/camera_external_trigger.launch"/>
</launch>
